@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F8F8FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.animal-type-container {
   /* Adjust the value according to the sidebar width */
  padding: 20px; /* Optional padding */
}

@media (max-width: 768px) {
  .animal-type-container {
    margin-left: 200px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .animal-type-container {
    margin-left: 150px; /* Further adjust for very small screens */
  }
}
